extends layout

block content
  h1 Results: #{podcasts.length}
  h1= podcasts.length
  ul
  for podcast in podcasts
    form(name="get-podcasts", action="podcasts", method="post")
      div
        h2 #{podcast.collectionName}
        img(src=podcast.artworkUrl100)
        input(type="hidden" name="rssUrl" value="#{podcast.feedUrl}")
        input(type="submit" value="listen")
